*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: #192A56;
    
}
h1{
    font-family: 'Inria Serif', serif;
    text-transform: capitalize;
color: antiquewhite;

}
.box
{
    background-color: #2F363F;
    height: 400px;
    width: 400px;
    padding: 20px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.box input[type="text"], .box input[type="password"], .box input[type="button"]
{
    display: block;
    margin: 30px auto;

}
.box input[type="text"], .box input[type="password"]
{
    padding: 10px 30px;
    background: none;
    text-align: center;
    border: 2px solid #3498DB;
    color: antiquewhite;
    
    border-radius: 40px;
    outline: none;
    transition: 0.25s;


}
.box input[type="text"]:focus, .box input[type="password"]:focus
{
    padding: 10px 80px;
    border: 2px solid #26A65B;
}

.box input[type="button"]
{
    padding: 10px 30px;
    background: none;
    text-align: center;
    border: 2px solid #26A65B;
    border-radius: 40px;
    color: antiquewhite;
    outline: none;
}

.box input[type="button"]:hover
{
    background-color: #26A65B;
}